<% if (messages.notice) { %>
  <div class="notice">
    <%= messages.notice %>
  </div>
<% } %>

<h1><%= title %></h1>

<ul class="inv-management-links">
  <li>
    <a href="/inv/add-classification">Add New Classification</a>
  </li>
  <li>
    <a href="/inv/add-inventory">Add New Inventory</a>
  </li>
</ul>
